{% extends "base.html" %}

{% block content %}
<h1>Добро пожаловать в Каталог Анализов!</h1>
<p>На этом локальном ресурсе вы сможете просматривать свои анализы сразу из
	нескольких лабораторий</p>
<div class="section-content"><p>Для просмотра списка доступных анализов нажмите
	на вкладку <a href="{% url 'analysis_list' %}">списка анализов</a>.</p>
	<div class="section-content"><p>Для подключения новой и доступной сейчас
		лаборатории нажмите на вкладку <a href="{% url 'login_page' %}">подключения
			ресурса</a>.</p>

		{% endblock %}
