{% extends "base.html" %}

{% block content %}
<html lang="RU">

<body>

<div class="mx-auto" style="width: 500px" ;>
	<form action="" method="post" class="form-horizontal">
		{% csrf_token%}
		<div class="col-xs-8 col-xs-offset-4">
			<h2 style="text-align:center;">Сбор анализов</h2>
		</div>
		<label for="lab_id">Выберите лабораторию из списка</label>
		<select name="lab_id" id="lab_id">
			<option value="gemotest">Гемотест</option>
			<option value="dnkom">ДНКОМ</option>
		</select>
		<div class="form-group">
			<label for="username">Логин</label>
			<input type="text" class="form-control" name="username"
			       id="username" placeholder="Введите логин">
		</div>
		<div class="form-group">
			<label for="password">Пароль</label>
			<input type="password" class="form-control" name="password"
			       id="password" placeholder="Введите пароль">
		</div>
		<button type="submit" class="btn btn-primary">Собрать данные</button>
		<br/>
	</form>

	{% for message in messages %}

    <div class="alert alert-success">
        <a class="close" href="#" data-dismiss="alert">×</a>
           {{ message }}
    </div>

	{% endfor %}

	<!-- Optional JavaScript -->
	<!-- jQuery first, then Popper.js, then Bootstrap JS -->
	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
	        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
	        crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
	        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
	        crossorigin="anonymous"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
	        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
	        crossorigin="anonymous"></script>
</body>

</html>
{% endblock %}
