{% extends 'base.html' %}

{% block content %}
<h2>График для числового показателя: {{ analysis_type_name  }}</h2>
<h3>Единицы измерения: {{units}}</h3>


<div id="chart_div"></div>
<div class="chart-container" style="text-align: center">
    <canvas id="line-chart"></canvas>
</div>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<script>
  const ctx = document.getElementById('line-chart');
  const labs_json = {{labs | safe}};
  const dates_json = {{dates | safe}};
  const values_json = {{results | safe}};
  const lower_json = {{lower_limits | safe}};
  const upper_json = {{upper_limits | safe}};

  const parseddates = [];
  dates_json.forEach(parsedFunction);
  function parsedFunction(date){
      parseddates.push(date.split('-').reverse().join('-'));
  }

  const backgroundcolor = [];
  for(i = 0; i < values_json.length; i++){
	if (values_json[i] > upper_json[i] || values_json[i] < lower_json[i]){
        backgroundcolor.push('red')
	}
    if (values_json[i] == upper_json[i] || values_json[i] == lower_json[i]){
        backgroundcolor.push('pink')
    }
    else
    {
        backgroundcolor.push('green')
	}
  }

  new Chart(ctx,
  {
    type: 'line',
    data: {
      labels: parseddates,
      datasets: [
        {
            data: values_json,
  label: 'результат анализа',
          borderColor: "#00BFFF",
  backgroundColor: backgroundcolor,
	        radius: 4
        },
  {
      data: lower_json,
	  label: 'нижнее референсное значение',
        borderColor: "#FCB4D5",
  backgroundColor: "#FCB4D5"},

  {
      data: upper_json,
      label: 'верхнее референсное значение',
    borderColor: "#FCB4D5",
    backgroundColor: "#FCB4D5"}
  ]
    },
    options: {
      scales: {
        xAxes: [ {
            display: true,
            type: 'time',
            time: {
              unit: 'day',
                // parser: 'yyyy-mm-dd'
            }
          }
        ],
      },
	     plugins: {
            legend: {
                display: true,
                labels: {
                    color: 'rgb(100, 99, 132)'
                }
            },
             tooltip: {
            callbacks: {
                beforeTitle: function(context){
                    number_of = "=".repeat((`${labs_json[context[0].dataIndex]}`).length * 3.5);
                    return `${number_of}\nЛаборатория: ${labs_json[context[0].dataIndex]}\n${number_of}\n`
                },
            }
            }
        }
    }
  }
);
</script>
{% endblock %}