{% extends 'base.html' %}

{% block content %}
<h2>График для текстового показателя: {{ analysis_type_name }}</h2>

<div id="chart_div"></div>
<div class="chart-container" style="text-align: center">
    <canvas id="line-chart"></canvas>
</div>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<script>
  const ctx = document.getElementById('line-chart');
  const labs_json = {{labs | safe}};
  const results_json = {{results | safe}}
  const dates_json = {{ dates | safe }};
  const parseddates = [];
  dates_json.forEach(parsedFunction);
  function parsedFunction(date){
      parseddates.push(date.split('-').reverse().join('-'));
  }

  new Chart(ctx, {
    type: 'line',
    data: {
      labels: parseddates,
      datasets: [{
        data: results_json,
        label: 'показатель'
      }]
    },
    options: {
      scales: {
        x: [{
          display: true,
          type: 'time',
          time: {
              unit: 'day',
                // parser: 'yyyy-mm-dd'
            }
        }],
        y: {
          ticks: {
              min: 0,
            callback: function(value, index, values) {
              if (value === 1) {
                return 'Есть отклонения';
              } else if (value === 0) {
                return 'Нет отклонений';
              }
            }
          }
        }
      },
      plugins: {
        legend: {
          display: true,
          labels: {
            color: 'rgb(100, 99, 132)'
          }
        },
          tooltip: {
            callbacks: {
                beforeTitle: function(context) {
                    number_of = "=".repeat((`${labs_json[context[0].dataIndex]}`).length * 3.5);
                    return `${number_of}\nЛаборатория: ${labs_json[context[0].dataIndex]}\n${number_of}\n`
                },
                title: function(context){
                    a = `${results_json[context[0].dataIndex]}`;
                    if (a == '1') {
                        return 'Есть отклонения, обратитесь к специалисту'
                    }
                    return  'Результат анализа без отклонений'
                },
                label: function(context){return ""}
            }
          }
      }
    }
  });
</script>

{% endblock %}
