{% extends 'base.html' %}

{% block content %}
<h2>График для текстового показателя: {{ analysis_type_name }}</h2>

<div id="chart_div"></div>
<div class="chart-container" style="position: relative; height:50vh; width:100vw">
    <canvas id="line-chart"></canvas>
</div>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<script>
  const ctx = document.getElementById('line-chart');
  const labs_json = {{labs | safe}};
  const values = {{results | safe}}

  new Chart(ctx, {
    type: 'line',
    data: {
      labels: {{ dates | safe }},
      datasets: [{
        data: {{ results | safe }},
        label: 'показатель'
      }]
    },
    options: {
      scales: {
        x: [{
          display: true,
          type: 'time',
          time: {
            parser: 'YYYY-MM HH:mm',
            tooltipFormat: 'll HH:mm',
            unit: 'month',
            unitStepSize: 1,
            displayFormats: {
              month: 'YYYY-MM'
            }
          }
        }],
        y: {
          ticks: {
              min: 0,
            callback: function(value, index, values) {
              if (value === 0) {
                return 'Есть отклонения';
              } else if (value === 1) {
                return 'Нет отклонений';
              }
            }
          }
        }
      },
      plugins: {
        legend: {
          display: true,
          labels: {
            color: 'rgb(100, 99, 132)'
          }
        },
          tooltip: {
            callbacks: {
                beforeTitle: function(context){
                    number_of = "=".repeat((`${labs_json[context[0].dataIndex]}`).length * 3.5);
                    return `${number_of}\nЛаборатория: ${labs_json[context[0].dataIndex]}\n${number_of}\n`
                },
                title: function(context){
                    a = `${values[context[0].dataIndex]}`

                    if (a == '0') {
                        return 'Есть отклонения, обратитесь к специалисту'
                    }
                    return  'Результат анализа без отклонений'
                },
                label: function(context){return ""}
            }
          }
      }
    }
  });
</script>

{% endblock %}
